@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p>Students <a href="https://localhost:44320/stud">Student Index</a>.</p>
    <p>Department<a href="https://localhost:44320/Department">Department Index</a>.</p>
</div>
